/* red: #D43C33 */
/* grey: #888 */
*{margin:0;padding:0;}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}

a{color: inherit; text-decoration: none;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }

B
body{font:14px/1.5 Helvetica,sans-serif;}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body{
  font-size: 15px;
  background: white;
}
.sectionTitle{
  border-left: 2px solid #D43C33;
  font-size: 17px;
  line-height: 1;
  padding-left: 8px;
  margin: 20px 0 8px;
}
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: white;
}
section.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D43C33;
  padding: 17px 10px;
}
section.topbar .logo>svg{
  width: 142px;height: 25px;
  vertical-align: top;

}
section.topbar > a{
  color: white;
  display: inline-block;
  padding: 5px 11px;
  line-height: 20px;
  position: relative;
}
section.topbar > a::after{
  content:'';
  position: absolute;
  top:0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid white;
  border-radius: 50px;
  transform: scale(0.5);
  transform-origin: 0 0;
}

/* tabs-nav */
.tabs-nav{
  display: flex;
  border-bottom: 1px solid #CCCCCC;
}
.tabs-nav>li{
  width: 33.333333%;
  text-align: center;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs-nav>li>.text{
  padding: 10px 5px;
  position: relative;
  top: 1px;
}
.tabs-nav >li.active{
  color: #D43C33;
}
.tabs-nav >li.active>.text{ 
}
.tabs-nav >li.active>.text::after{
  content: '';
  position: absolute;
  height: 2px;
  background: #D43C33;
  bottom: 1px;
  left: 0;
  width: 100%;
}
.tab-content{
  margin-top: 105px;
}
.tab-content > li{
  display: none;
}
.tab-content > li.active{
  display: block;
}
.noCollapse::before{
  content:'';
  display: table;
}
.noCollapse::after{
  content:'';
  display: table;
}

section.playlists{
}
section.playlists > ol.songs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
}
section.playlists > ol.songs > li{
  width: 32.8%;
  margin: 8px 0;
}
section.playlists > ol.songs > li p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 18px;
  height: 36px;
  padding: 0 6px;
}
section.playlists > ol.songs > li img{
  width: 100%;
}
section.songs{}
section.songs > .list {
  margin-top: 18px;
}
section.songs > .list > li > h3{
  font-size: 17px;
}
section.songs > .list > li > p{
  font-size: 12px;
  color: #888;
}
section.songs > .list > li{
  position: relative;
  margin-left: 10px;
  padding-bottom: 6px;
  padding-top: 5px;
  border-bottom: 1px solid #E2E2E3;
}
section.songs > .list .playButton{
  position: absolute;
  right:8px;
  top: 50%;
  transform: translateY(-50%);
}
section.songs > .list .icon-play{
  width: 22px;
  height: 22px;
  vertical-align: middle;
  fill: #AAA;
}
section.songs > .list .icon-sq{
  fill: #FE672E;
}
section.art{
  padding-top: 38px;
  padding-bottom: 18px;
  background: transparent url(//i.loli.net/2017/08/25/599f862b9c98d.png) no-repeat center;
  background-size: cover;
  text-align: center;
}
section.art svg{
  width: 230px;
  height: 44px;
}
section.art .link-wrapper > a{
  display: inline-block;
  border: 1px solid;
  line-height: 40px;
  font-size: 16px;
  padding: 0 19px;
  border-radius: 20px;
  color:#D43C33;
  margin-top: 10px;
  margin-bottom: 5px;
}
section.art .copyright{
  font-size: 12px;
  color: #888;
  transform: scale(.75);
}

/* 热门音乐 */
.hottop-banner {
  padding-top: 38.9%;
  background: url(../img/hottop-banner.jpg) no-repeat;
  background-size: contain;
  position: relative;
}

.hottop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.hottopct {  
  width: 142px;
  height: 67px;
  background-position: -24px -30px;
  background-image: url(../img/hottop-text.png);
  background-size: 166px 97px;    
}

section.hottop-content > .hot-list {
}

section.hottop-content > .hot-list > li > p{
  font-size: 12px;
  color: #888;
}
section.hottop-content > .hot-list > li{
  position: relative;
  margin-left: 10px;
  padding-bottom: 6px;
  padding-top: 5px;
  border-bottom: 1px solid #E2E2E3;
}
section.hottop-content > .hot-list .playButton{
  position: absolute;
  right:8px;
  top: 50%;
  transform: translateY(-50%);
}
section.hottop-content > .hot-list .icon-play{
  width: 22px;
  height: 22px;
  vertical-align: middle;
  fill: #AAA;
}
section.hottop-content > .hot-list .icon-sq{
  fill: #FE672E;
}

/* 搜索页 */
.page-3 .search {
  padding: 15px 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.page-3 .search input {
  background:#EBECEC;
  border: 0px;
}
.page-3 .search-wrapper {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 0 30px;
  box-sizing: border-box;
  background: #ebecec;
  border-radius: 30px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}
.page-3 .search-wrapper ::placeholder{
  color: #c9c9c9;
}

.page-3 .search-wrapper input:focus{
  outline: none;
}
.page-3 .hot-search {
  padding: 15px 10px 0;
}

.page-3 .hot-search .title{
  font-size: 12px;
  line-height: 12px;
  color: #666;
}

.page-3 .hot-search > ul.list {
  margin: 10px 0 7px;
}
.page-3 .hot-search > ul.list > li {
  display: inline-block;
  height: 32px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0 14px;
  font-size: 14px;
  line-height: 32px;
  color: #333;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 60px;
}
